body div.im-container{
	font-family: sans-serif;
}

div.im-container header {
	background: #4F81BD;
	color: #fff;
	padding: 1em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

div.im-container header h1 {
	border-bottom: 1px solid;
	margin: 0;
}
div.im-container header h2{
	margin: 0.5em 0 0;
}

div.im-container label {
	display: inline-block;
	font-size: 1.2em;
	padding: 0 1em 0 1em;
	width: 30%;
}

div.im-container select {
	width: 20%;
	margin-left: 0;
	border: thin solid #0090C0;
	font-size: 1.3em;
	color: #AAA;
}

div.im-container input[type="text"], 
div.im-container input[type="email"], 
div.im-container input[type="password"], 
div.im-container input[type="number"], 
div.im-container input[type='date'] {
	width: 25%;
	padding: 0.1em 0.25em 0 0.25em;
	border: thin solid #0090C0;
	font-size: 1.3em;
}
div.im-container input[type="date"]{
	width:auto;
	vertical-align:top;
}
div.im-container input[type="text"].time{
	width:10%;
	vertical-align:top;
}
div.im-container input[type="checkbox"] {
	padding: 0.45em;
	background-color: #FFF;
	border: thin solid #4F81BD;
	vertical-align: middle;
	-webkit-appearance: none;
}

div.im-container input[type="checkbox"]:checked {
	padding: 0.2em 0.4em 0.2em 0.4em;
	background-color: #4F81BD;
}

div.im-container input[type="checkbox"]:checked:after {
	content: '✔';
	color: #FFF;
	background-color: #4F81BD;
	font-size: 1.3em;
}
div.im-container div.cke{
	display: inline-block;
	width:60%;
}
div.im-container label.im-rte-label{
	vertical-align: top;
}
div.im-container section{
	padding: 0 1em;
}
div.im-container .rf-included-false{
	display: none!important;
}

.rhinoforms-merge-container {
	border: 2px solid #4F81BD;
	border-radius: 15px;
	padding: 1%;
	margin-left: 7.5%;
	width: 80%;
	min-width:900px;
}
.im-container.show-preview .merge-content {
	width: 75%;
	margin-left: 0;
}
div.im-container .im-sub-text {
	font-size: 75%;
}

div.im-container .destinations {	
	background: #C0C0C0;
	color: #fff;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
div.im-container .destinations ul.im-destinations, 
div.im-container .destinations h2 {
	padding: 1%;
	float:left;
	margin-top:0;
}
div.im-container .destinations ul.im-destinations{
	width:65%;
}
div.im-container .destinations ul li{
	list-style-type:none;
}
div.im-container .destinations ul.im-destinations > li {
	display:inline-block;
	width:25%;
}
div.im-container .destinations .im-destination label{
	font-size:1.5em;
	font-weight: bold;
	padding:0;
	display:block;
	width:100%;
}
div.im-container .destinations .im-destinations input[type="checkbox"]{
	margin:0;
}
div.im-container .destinations ul.im-dest-params {
	padding:0;
	float:left;
}
div.im-container .destinations .search-terms label {
	padding: 0 1em 0 1em;
	display: inline;
}
div.im-container .destinations .search-terms{
    clear:both;
}

div.im-container .merge-field {
	min-height: 2.2em;
	padding: 1em 0;
}
div.im-container .merge-field.im-required label[for]:after{
	content: '*';
}
div.im-container .search-terms{
	padding-bottom: 0.5em
}
div.im-container .search-terms input[type="text"]{
	width: 75%;
}
div.im-container .im-subrecord .im-submit, 
div.im-container .im-subrecord h3{
	display:inline-block;
	margin-right:30px;
}
div.im-container .im-subrecord li{
	list-style-type:none;
}
div.im-container .im-subrecord input[type=text][disabled]{
	border:none;
	opacity:0;
	width:1px;
}
div.im-container .im-submission-wrapper {
	background: #C0C0C0;
	color: #FFF;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

div.im-container .im-submit {
	background: #4F81BD;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.2em;
	border: none;
	border-radius: 3px;
	padding: 5px;
	margin: 15px 5px 15px 0px;
	right: 5px;
}

div.im-container .im-actions {
	clear: both;
	text-align: right;
	margin-right: 2%;
}

div.im-container .invalid-message {
	margin-left: 0.5em;
	padding: 0.25em;
	color: #FFF;
	background: #D44;
	border-radius: 0.25em;
	font-weight: bold;
}
/* Preview Sidebar */
div.im-container .preview-pane::-webkit-scrollbar {
	width:12px;
	height:12px
}
div.im-container .preview-pane::-webkit-scrollbar-corner{
	background-color:#4F81BB;
}
div.im-container .preview-pane::-webkit-scrollbar-thumb{
	border-radius:8px;
	background-color:#CCF;
}
div.im-container .preview-pane.closed{
	background-color: #4F81BD;
	color: #FFF;
	position:fixed;
	top:0;
	right:0;
	height:100%;
	width:4%;
	min-width:50px;
}
div.im-container .preview-pane.closed h4 {
	margin-top: 2em;
	margin-bottom: 4em;
	cursor: pointer;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
}
div.im-container .preview-pane .toggle-bar{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 25px;
	background-color: #3E70BA;
	z-index: 99;
	padding: 25% 0;
}
div.im-container .preview-pane .toggle-bar:hover{
	background-color:#2F61AD;
	cursor: pointer;
}
div.im-container .preview-pane.closed .toggle-bar:after{
	content: '<<';
}
div.im-container .preview-pane.open .toggle-bar:after{
	content: '>>';
}
div.im-container .preview-pane .tabs,
div.im-container .preview-pane .contents{
	margin-left:25px;
}
div.im-container .preview-pane.open .tab-container.active h4{
	 background-color:rgba(200,200,255,0.2)
}
div.im-container .preview-pane.closed .preview-content{
	display: none;
}
div.im-container .preview-pane.open .preview-content.active{
	display: block;
}
div.im-container .preview-pane.open {
	top:0;
	height:100%;
	overflow-x:scroll;
	width:20%;
}
div.im-container .preview-pane.open.merge{
	position:fixed;
	width:60%;
}
div.im-container .preview-pane.open.merge .preview-content{
	height:100%;
}
div.im-container .preview-pane.open.merge .contents{
	height:85%;
}
div.im-container .preview-pane.open h4 {
	cursor: pointer;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	margin: 0;
	padding: 10px;
}
div.im-container .preview-pane .toggle-open:before {
	content:'▲';
	margin-left: 7px;
}

div.im-container .preview-pane .toggle-close:before {
	content:'►';
}
div.im-container .preview-pane ul.sub{
    background-color:rgba(200,200,255,0.2)
}
div.im-container .preview-pane ul, 
div.im-container .preview-pane li{
	list-style-type: none;
	padding-left: 0;
	margin-left:0.5em
}
div.im-container .preview-pane .preview-val{
	text-decoration: underline;
	cursor:pointer;
}
div.im-container #previewPaneSTOP {
	background-color: red;
	position:fixed;
	top:0;
	right:0;
	width:30%;
	height:100%;
	border-left:2px solid;
	overflow-x:scroll;
}